# --- Telegram ---
BOT_TOKEN=8774102675:AAGDCW67-5Y7NnBZkClIKNL1E-munKciDtQ
FRONTEND_URL=misterlasta.github.io/anythrontend/index.html
# --- Backend ---
DATABASE_URL=sqlite+aiosqlite:///./app.db
ADMIN_IDS=5236965009,8593240092
